<!DOCTYPE html>
<html lang="en">
 {% block header %}
<head>
  <title>Study Space</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
  <script type="text/javascript">
  $(document).ready(function() {
    $('#studyhall').DataTable();
} );
</script>
</head>
<body>

<div class="container">
  <h2>STUDY SPACE</h2>
  <p>This is for studay space</p>

  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#menu1">Studay Hall</a></li>
    <li><a data-toggle="tab" href="#menu2">Enquiry</a></li>
    <li><a data-toggle="tab" href="#menu3">Expenses</a></li>
  </ul>
  {% endblock %}
  {% block %}