<!DOCTYPE html>
<html lang="en">
<head>
  <title>Study Space</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>STUDY SPACE</h2>
  <p>This is for studay space</p>

  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="/studyhalls/">Studay Hall</a></li>
    <li><a data-toggle="tab" href="#menu2">Enquiry</a></li>
    <li><a data-toggle="tab" href="#menu3">Expenses</a></li>
  </ul>

  <div class="tab-content">
    <div id="menu1" class="tab-pane fade">
      <h3>STUDY HALLS</h3>
      <p>this page showing study halls</p>
      <p>{{studyhalls}}</p>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h3>ENQUIRIES</h3>
      <p>this page is for enquiries</p>
    </div>
    <div id="menu3" class="tab-pane fade">
      <h3>EXPENSES</h3>
      <p>This page is for expenses</p>
    </div>
  </div>
</div>

</body>
</html>
